html, body, div, span, applet, object, iframe,
h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body{
	height: 100%;
	line-height: 1;
	color: #ffffff;
	background-color: #000000;
	font-family: 'PT Sans Narrow', sans-serif;
	cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.png), auto !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*----------------------Custom----------------------*/
html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
/*-----------x----------Custom----------x------------*/

/*----------------------Global-Classes----------------------*/
a{
    text-decoration: none;
    color: white;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}

ul{
    list-style-type: none;
}

#particles-js{
    position: fixed;
    width: 99%;
    height: 100%;
    z-index: 0;
}
/*-----------x----------Global-Classes----------x-----------*/

/*-------------------------Navbar--------------------------*/

.nav{
    background: black;
    padding: 0 2rem;
    height: 0rem;
    width: 94%;
    min-height: 10vh;
    overflow: hidden;
    transition: height 0.4s ease;
    position: fixed;
    z-index: 1000;  
    transition: all 1s;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{        
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.png), auto !important;
    display: none;
    z-index: 9;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
    z-index: 1000;
}

.nav .toggle-collapse .toggle-icons i{        /*---------hamburger_icon----------*/
    margin-top: -13px;
    font-size: 2.3rem;
    color: white;
    z-index: 1;
}

.nav .toggle-collapse .toggle-icons i:hover{
    color: crimson;
    z-index: 9;
}

.collapse{        /*-------------increase_height_of_menu-----------*/
    height: 50rem;
    z-index: 9;
}

.nav .nav-items{
    display: flex;
    margin: 0;
    z-index: 1000;
    background-color: black;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    position: relative;
    font-family: 'Abel';
    font-size: 1.1rem;
    z-index: 9;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.png), auto !important;
}

.nav .nav-items .nav-link:hover{
    background-color: darkorange;
    z-index: 9;
}

.nav .nav-items .nav-link:hover a{
    color: white;
    z-index: 9;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.png), auto !important;
}

.nav .nav-brand a{        /*-------Endeavour-Icon--------*/
    margin-top: -75px;
    display: block;
    z-index: 9;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.png), auto !important;
}

.nav .social{             /*-------Social-Icons--------*/
    padding: 1.4rem 0;
    margin-top: -6px;
    z-index: 9;
    margin-right: -2%;
}

.nav .social i{
    padding: 0 .5rem; 
    font-size: 2rem;
    z-index: 9;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.png), auto !important;
}

.nav .social i:hover{
    color: crimson;
    z-index: 9;
}
/*--------------x----------Navbar------------x-------------*/


/*-------------------------Home_Section--------------------*/

section{
    padding: 60px 0;
    height: 100%;
    position: relative;
}

.home{
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url("../images/a.png");
    background-size: 35%;
    background-attachment: scroll;
    z-index: 9;
    background-repeat: no-repeat;
    left: 32%;
    top: 16%;
}

/*------------x------------Home_Section--------x-----------*/


/*--------------------------About_Section------------------*/

.about{
    position: relative;
    z-index: 99;
    box-sizing: content-box;
    height: auto;
}

.section-title{
    text-align: center;
    z-index: 9;
    padding-bottom: 2%;
}

.section-title h2{
    display: inline-block;
    font-size: 28px;
    border-bottom: 1px solid;
    border-color: #00ccff;
    text-transform: uppercase;
    padding: 0 0 10px;
    z-index: 9;
}

.about-info{
    width: 80%;
    margin: 0 auto;
    padding: 60px auto;
    text-align: center;
    z-index: 99;
}

.about-info p{
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 20px;
}

.about-info .know-more{
    display: inline-block;
    padding: 15px 35px;
    background-color: crimson;
    border: 2px solid #00ccff;
    border-radius: 50px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 15px;
    position: relative;
    z-index: 999;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.png), auto !important;
}

.about-info .know-more:hover{
    background-color: mediumvioletred;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.png), auto !important;
}

.timeline{
    margin-top: 50px;
    display: grid;
}

.timeline .col{
    margin: 5px;
    padding: 25px 5px;
    border: 1px solid #00ccff;
    float: left;
    border-radius: 5px;
}

.timeline h6{
    margin: 15px 0 0;
    font-size: 24px;
    line-height: 24px;
}
/*--------------x-----------About_Section--------x---------*/

/*--------------------------Vision_Section------------------*/

.vision{
    position: relative;
    z-index: 99;
    box-sizing: content-box;
    height: auto;
}

.vision-title{
    text-align: center;
}

.vision-title h2{
    display: inline-block;
    font-size: 28px;
    border-bottom: 1px solid;
    border-color: #00ccff;
    text-transform: uppercase;
    padding: 0 0 10px;
}

.vision-info{
    width: 80%;
    margin: 0 auto;
    padding: 60px auto;
    text-align: center;
    z-index: 99;
}

.vision-info p{
    line-height: 28px;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.mission-title{
    margin-top: 25px;
    text-align: center;
}

.mission-title h2{
    display: inline-block;
    font-size: 28px;
    border-bottom: 1px solid;
    border-color: #00ccff;
    text-transform: uppercase;
    padding: 0 0 10px;
}

.mission-info{
    width: 80%;
    margin: 0 auto;
    padding: 60px auto;
    text-align: center;
    z-index: 99;
}

.mission-info p{
    line-height: 28px;
    font-size: 18px;
    padding-top: 30px;
}

/*--------------x-----------Vision_Section--------x---------*/

/*--------------------------Domain_Section------------------*/

.domain{
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
    z-index: 99;
    text-align: center;
    box-sizing: content-box;
    height: auto;
}

.domain .domain-info{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: center;
    text-align: center;
}


.domain .col{
    width: 30%;
    margin: 25px 30px;
    text-align: center;
    border: 5px solid crimson;
    padding: 60px 40px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.domain .col:hover{
    transform: translateY(-10px);
}

.domain .col img{
    max-width: 48px;
}

.domain .col h3{
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 15px;
}

.domain .col p{
    line-height: 28px;
}
/*--------------x-----------Domain_Section--------x---------*/


/*-------------------------------OurWork---------------------*/
.ourwork{
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
    z-index: 99;
    box-sizing: content-box;
    height: auto;
}

.ourwork-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 99;
    width: 100%;
}

.ourwork-info .col{
    float: left;
    width: 30%;
    margin: 1%;
}

.ourwork-info .col img{
    max-width: 100%;
    transition: all 0.5s;
    border-radius: 50px 0px;
}

.ourwork-info .col img:hover{
    transform: scale(1.1);
    background-color: white;
    box-shadow: 0px 5px 30px 15px crimson;
}
/*--------------x----------------OurWork----------x----------*/

/*-------------------------ContactUs_Section--------------------------*/

.contact{
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
    z-index: 99;
    box-sizing: content-box;
    height: auto;
}

::-webkit-input-placeholder {
  color: red;
}
.contact-info{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.contact-info .textField{
    width: 100%;
    height: 20%;
    border: none;
    border-bottom: 1px solid #00ccff;
    box-sizing: border-box;
    background-color: transparent;
    padding: 15px 15px;
    margin-bottom: 15px;
    font-family: "Abel";
    color: #fff;
    font-size: 16px;
}

.contact-info .messageField{
    height: 150px;
}

.contact-info .submitButton{
    border: none;
    outline: none;
    background-color: crimson;
    color: whitesmoke;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1164.png), auto !important;
    text-transform: uppercase;
    border-radius: 20px;
}

.contact-info .submitButton:hover{
    background-color: mediumvioletred;
    color: black;
}
/*-------------x-----------ContactUs_Section------------x-------------*/




/*-------------------------Viewport less than or equal to 768px----------------------*/

@media only screen and (max-width:768px){
    
    #particles-js{
    position: fixed;
    width: 99%;
    height: 100%;
    z-index: 0;
}
    
    .home{
    background-size: 70%;
    background-repeat: no-repeat;
    left: 15%;
    top: 22%;
    z-index: 1;
    }
    
    .nav{                    /*---------Full_Nav------------*/
        position: relative;
        z-index: 1000;
        width: 100%;
        padding: 0;
        transition: height 0.3s ease;
        scroll-behavior: smooth;
        background-color: black;
    } 
    
    .nav .nav-menu{           /*-------Nav_Between_Spaces------*/
        flex-direction: column;
        background-color: black;
    }
    
    .nav-items{        /*---------UL_Class------------*/
        flex-direction: column;
        background-color: black;
        height: auto;
        transition: height 0.3s ease;
    }
    
    .nav .collapse{
        width: 100%;
        height: auto;
    }
    
    .nav-link{            /*-----Individual_Nav_Items----------*/
    position: relative;
    z-index: 9;
    margin: 2px 20px;
    background-color: firebrick;
    border-radius: 40px;
    border: 1px solid pink;
    text-align: center;
    height: 0px;
    line-height: 1px;
}
    
    .nav-items .nav-link a{
    width: 100%;
    font-weight: 500;
    }
    
    .nav .toggle-collapse{
        display: initial;
        width: 100%;
    }
    
    .nav .toggle-collapse .toggle-icons i{
    display: block;
    padding: 0 20px 0 0;
    z-index: 1000;    
}
    
    .nav .nav-brand a{        /*-------Endeavour-Icon--------*/
    display: flex;
    margin-top: -75px;
    z-index: 9;
    justify-content: center;
    width: 100%;
}
    
    .nav .social i{ /*-----------Hamburger Menu Social Icons------------*/
    padding: 0 1.4rem; 
    font-size: 2rem;
    }
    
    .nav .nav-menu .social{       /*-----Social_Icons------*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    
    /*--------AboutInfoParagraph------*/
    .about-info p{
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 13%;
    padding-top: 10%;
    }
    /*----x---AboutInfoParagraph---x--*/
    
    
    /*----------------Mission_&_Vision-------*/
    
    .vision-info p{
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 15%;
    padding-top: 10%;
    }
    
    .mission-info p{
    line-height: 28px;
    font-size: 18px;
    padding-top: 10%;
    }
    /*--------x-------Mission_&_Vision---x---*/
    
    /*------------Domain--------------*/
    
    .domain{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto; 
    text-align: center;
    z-index: 1;
    box-sizing: content-box;
    height: auto;
}

    .domain .domain-info{
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
    justify-content: center;
}

    .domain .col{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

    
    .domain .col h3{
    font-size: 28px;
    margin: 5px 0 0 15px; 
}
    
    .domain .col p{
    padding-top: 10px;
}
    
    /*------x-----Domain------x-------*/
    
    
    /*---------------OurWork----------*/
    .ourwork{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
    z-index: 9;
    box-sizing: content-box;
    height: auto;
}
    
    .ourwork-info{
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    }
    
    .ourwork-info .col{
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 10px; 
    }
    
    .ourwork-info .col img:hover{
    transform: scale(1.1);
    background-color: white;
    box-shadow: 0px 5px 30px 15px crimson;
    }
    
    form{
    padding: 0 12%;
    }
    
    
    /*--------x------OurWork----x-----*/
    
/*------------x-----------Viewport less than or equal to 768px----------x-----------*/
    

/*-------------------------Viewport less than or equal to 392px----------------------*/

@media only screen and (max-width:392px){
    
    #particles-js{
    position: fixed;
    width: 99%;
    height: 100%;
    z-index: 0;
}
    
    .home{
    background-size: 70%;
    background-repeat: no-repeat;
    left: 15%;
    top: 22%;
    z-index: 1;
    }
    
    .nav{                    /*---------Full_Nav------------*/
        position: relative;
        z-index: 1000;
        width: 100%;
        padding: 0;
        transition: height 0.3s ease;
        scroll-behavior: smooth;
        background-color: black;
    } 
    
    .nav .nav-menu{           /*-------Nav_Between_Spaces------*/
        flex-direction: column;
        background-color: black;
    }
    
    .nav-items{        /*---------UL_Class------------*/
        flex-direction: column;
        background-color: black;
        height: auto;
        transition: height 0.3s ease;
    }
    
    .nav .collapse{
        width: 100%;
        height: auto;
    }
    
    .nav-link{            /*-----Individual_Nav_Items----------*/
    position: relative;
    z-index: 9;
    margin: 2px 20px;
    background-color: firebrick;
    border-radius: 40px;
    border: 1px solid pink;
    text-align: center;
    height: 0px;
    line-height: 1px;
}
    
    .nav-items .nav-link a{
    width: 100%;
    font-weight: 100;
    }
    
    .nav .toggle-collapse{
        display: initial;
        width: 100%;
    }
    
    .nav .toggle-collapse .toggle-icons i{
    display: block;
    padding: 0 20px 0 0;
    z-index: 1000;    
}
    
    .nav .nav-brand a{        /*-------Endeavour-Icon--------*/
    display: flex;
    margin-top: -75px;
    z-index: 9;
    justify-content: center;
    width: 100%;
}
    
    .nav .social i{ /*-----------Hamburger Menu Social Icons------------*/
    padding: 0 1rem; 
    font-size: 2rem;
    }
    
    .nav .nav-menu .social{       /*-----Social_Icons------*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    
    /*--------AboutInfoParagraph------*/
    .about-info p{
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 13%;
    padding-top: 10%;
    }
    /*----x---AboutInfoParagraph---x--*/
    
    
    /*----------------Mission_&_Vision-------*/
    
    .vision-info p{
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 15%;
    padding-top: 10%;
    }
    
    .mission-info p{
    line-height: 28px;
    font-size: 18px;
    padding-top: 10%;
    }
    /*--------x-------Mission_&_Vision---x---*/
    
    /*------------Domain--------------*/
    
    .domain{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto; 
    text-align: center;
    z-index: 1;
    box-sizing: content-box;
    height: auto;
}

    .domain .domain-info{
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
    justify-content: center;
    }

    .domain .col{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

    
    .domain .col h3{
    font-size: 28px;
    margin: 5px 0 0 15px; 
}
    
    .domain .col p{
    padding-top: 10px;
}
    
    /*------x-----Domain------x-------*/
    
    
    /*---------------OurWork----------*/
    .ourwork{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
    z-index: 9;
    box-sizing: content-box;
    height: auto;
}
    
    .ourwork-info{
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    }
    
    .ourwork-info .col{
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 10px; 
    }
   
    .ourwork-info .col img{
    max-width: 100%;
    transition: all 0.5s;
    border-radius: 30px 0px;
    }
    
    .ourwork-info .col img:hover{
    transform: scale(1.1);
    background-color: white;
    box-shadow: 0px 5px 30px 15px crimson;
    }
    
    form{
    padding: 0 12%;
    }
    
    
    /*--------x------OurWork----x-----*/
    
/*------------x-----------Viewport less than or equal to 392px----------x-----------*/
    
    
/*-------------------------Viewport less than or equal to 320px----------------------*/

@media only screen and (max-width:320px){
    
    #particles-js{
    position: fixed;
    width: 99%;
    height: 100%;
    z-index: 0;
}
    
    .home{
    background-size: 70%;
    background-repeat: no-repeat;
    left: 15%;
    top: 22%;
    z-index: 1;
    }
    
    .nav{                    /*---------Full_Nav------------*/
        position: relative;
        z-index: 1000;
        width: 100%;
        padding: 0;
        transition: height 0.3s ease;
        scroll-behavior: smooth;
        background-color: black;
    } 
    
    .nav .nav-menu{           /*-------Nav_Between_Spaces------*/
        flex-direction: column;
        background-color: black;
    }
    
    .nav-items{        /*---------UL_Class------------*/
        flex-direction: column;
        background-color: black;
        height: auto;
        transition: height 0.3s ease;
    }
    
    .nav .collapse{
        width: 100%;
        height: auto;
    }
    
    .nav-link{            /*-----Individual_Nav_Items----------*/
    position: relative;
    z-index: 9;
    margin: 2px 20px;
    background-color: firebrick;
    border-radius: 40px;
    border: 1px solid pink;
    text-align: center;
    height: 0px;
    line-height: 1px;
}
    
    .nav-items .nav-link a{
    width: 100%;
    font-weight: 500;
    }
    
    .nav .toggle-collapse{
        display: initial;
        width: 100%;
    }
    
    .nav .toggle-collapse .toggle-icons i{
    display: block;
    padding: 0 20px 0 0;
    z-index: 1000;    
}
    
    .nav .nav-brand a{        /*-------Endeavour-Icon--------*/
    display: flex;
    margin-top: -75px;
    z-index: 9;
    justify-content: center;
    width: 100%;
}
    
    .nav .social i{ /*-----------Hamburger Menu Social Icons------------*/
    padding: 0 1rem; 
    font-size: 2rem;
    }
    
    .nav .nav-menu .social{       /*-----Social_Icons------*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    
    /*--------AboutInfoParagraph------*/
    .about-info p{
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 13%;
    padding-top: 10%;
    }
    /*----x---AboutInfoParagraph---x--*/
    
    
    /*----------------Mission_&_Vision-------*/
    
    .vision-info p{
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 15%;
    padding-top: 10%;
    }
    
    .mission-info p{
    line-height: 28px;
    font-size: 18px;
    padding-top: 10%;
    }
    /*--------x-------Mission_&_Vision---x---*/
    
    /*------------Domain--------------*/
    
    .domain{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto; 
    text-align: center;
    z-index: 1;
    box-sizing: content-box;
    height: auto;
}

    .domain .domain-info{
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
    justify-content: center;
}

    .domain .col{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

    
    .domain .col h3{
    font-size: 28px;
    margin: 5px 0 0 15px; 
}
    
    .domain .col p{
    padding-top: 10px;
}
    
    /*------x-----Domain------x-------*/
    
    
    /*---------------OurWork----------*/
    .ourwork{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
    z-index: 9;
    box-sizing: content-box;
    height: auto;
}
    
    .ourwork-info{
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    }
    
    .ourwork-info .col{
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 10px; 
    }
    
    .ourwork-info .col img:hover{
    transform: scale(1.1);
    background-color: white;
    box-shadow: 0px 5px 30px 15px crimson;
    }
    
    form{
    padding: 0 12%;
    }
    
    /*--------x------OurWork----x-----*/
    
/*------------x-----------Viewport less than or equal to 320px----------x-----------*/
